<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>


       <mappers>
           <mapper resource="ch07/mybatis/mybatis-credit.xml"></mapper>
           <mapper resource="ch07/mybatis/mybatis-credit1.xml"></mapper>
       </mappers>

</configuration>