<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Credit" >
    <!-- 根据ID所在区间查询信用卡账单对象 -->
    <select id="getCreditsById" parameterType="java.util.HashMap" resultType="cn.itcast.ch07.DestinationCreditBill">
        select ID,ACCOUNTID,NAME,AMOUNT,DATE,ADDRESS from t_credit where ID between #{begin} and #{end}
    </select>
</mapper>